<html ng-app="100DaysTrackerApp">
    <head>
        <title>100-days-tracker</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        
        <div ng-controller="GitHubController" class="container">
            <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">100-days-tracker</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <form ng-submit="getUserInfo()">
                    <label>GitHub Username:</label>
                    <input type="text" name="username" ng-model="username"/>
                    <label for="">Repository Name:</label>
                    <input type="text" name="repo" ng-model="repo"/>
                    <input type="submit" value="Submit"/>
                    </form>    

                </div>
            </div>
            <div class="row" ng-show="{{hasGitHubData}}">
              <div class="col-sm-12 col-md-12">
                <p>Last Updated</p>
                <h1 >{{gitHubObject.data.pushed_at | date:'MM/dd/yyyy @ h:mma'}}</h1>
                
              </div>
            </div>
            <div class="row" ng-show="firstTimeUser">
              <div><p>Welcome!  This is your first time here</p></div>
            </div>
        </div>
    </body>
    
    <script src="./app/app.js"></script>
    
    <script src="./app/js/jquery.min.js"></script>
    <script src="./app/js/bootstrap.min.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36459542-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
