.demo-card-wide.mdl-card {
  width: 80%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background-position: bottom right;
  
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.demo-card-image.mdl-card {
  width: 100%;
  height: 256px;
  
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

body {
  background-color: #ecf0f1;
}

.mdl-textfield__input {
  border-bottom: none !important;
}

body {
  font-family: 'Dosis', sans-serif;
}